body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.flexContainer {
  display: flex;
}
.flex-right {
  justify-content: flex-end;
}
.mt-20 {
  margin-top: 20px;
}

.content {
  padding: 30px 10%;
  height: 100vh;
  /* background-color: rgb(253, 231, 130); */
}
.section {
  position: relative;
  padding: 0 0 20px;
}
.mainTitle {
  font-size: 32px;
  font-weight: bold;
  color: rgb(49, 187, 175);
}
.subTitle {
  font-size: 24px;
  font-weight: bold;
  color: rgb(49, 187, 175);
}
.listOfDo {
  list-style: none;
  padding-left: 20px;
  width: 90%;
  max-height: 45vh;
}

.list-item {
  padding: 10px 5px;
  margin: 0px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
  width: 100%;
}

.list-item:last-child {
  border-bottom: none;
}

.task__text_container {
  display: inline-block;
  width: 30vw;
}

.task__text {
  display: block;
  width: 80%;
  border: 3px solid #fff;
  padding: 3px 2px;
  cursor: initial;
}

.task__input {
  width: 80%;
  font-size: 16px;
}

.task__text-completed {
  text-decoration: line-through;
}

.button {
  padding: 5px 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.button-remove {
  width: 20px;
  height: 20px;
  background: url("./assets/img/svg/close.svg") center/cover no-repeat;
  border-radius: 50%;
  text-align: center;
  margin: 5px;
}

.button-remove:active {
  background-color: rgb(247, 93, 93);
}

.button-change {
  width: 20px;
  height: 20px;
  background: url("./assets/img/svg/pen.svg") center/cover no-repeat;
  text-align: center;
  margin: 5px;
}

.button-change:active {
  border-radius: 50%;
  background-color: rgb(140, 236, 116);
}

.button-uncompleted {
  width: 24px;
  min-width: 20px;
  max-width: 20px;
  height: 24px;
  margin: 5px;
  border-radius: 50%;
  border: 2px solid green;
  background-color: transparent;
}

.button-completed {
  background: url("./assets/img/svg/check.svg") center/cover no-repeat;
  border: 2px solid #fff;
}

.button-primary {
  background-color: rgb(49, 187, 175);
  color: #fff;
}

.button-primary:hover,
.button-primary:active {
  background-color: rgb(37, 148, 139);
}

.newIncome__container {
  position: absolute;
  left: 170px;
  top: 20px;
  width: 300px;
  height: 300px;
  box-shadow: 1px 1px 15px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  background-color: #fff;
  z-index: 5;
  transition: 0.5s;
}

.newIncome__title {
  margin-top: 0;
}

.newIncome__form {
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px;
}

.newIncome__input {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 1;
}

.react-datepicker-wrapper {
  width: 100%;
}
.react-datepicker-popper {
  text-transform: capitalize;
}

.table {
  border-collapse: collapse;
}

.table__cell {
  position: relative;
  text-align: center;
  padding: 5px 10px;
}

.table__cell .newIncome__container {
  left: 0;
  top: 0;
  transform: translate(0, -50%);
}

.table__row {
  position: relative;
  border-top: 1px solid grey;
}
thead .table__row {
  border-top: none;
}
