.content {
  padding: 30px 10%;
  height: 100vh;
  /* background-color: rgb(253, 231, 130); */
}
.section {
  padding: 0 0 20px;
}
.mainTitle {
  font-size: 32px;
  font-weight: bold;
  color: rgb(49, 187, 175);
}
.subTitle {
  font-size: 24px;
  font-weight: bold;
  color: rgb(49, 187, 175);
}
.listOfDo {
  list-style: none;
  padding-left: 20px;
}

.list-item {
  padding: 10px 5px;
  margin: 0px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
  width: 45%;
}

.list-item:last-child {
  border-bottom: none;
}

.task__text_container {
  display: inline-block;
  width: 30vw;
}

.task__text {
  display: block;
  width: 80%;
  border: 3px solid #fff;
  padding: 3px 2px;
  cursor: initial;
}

.task__input {
  width: 80%;
  font-size: 16px;
}

.task__text-completed {
  text-decoration: line-through;
}

.button {
  padding: 5px 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.button-remove {
  width: 20px;
  height: 20px;
  background: url("./assets/img/svg/close.svg") center/cover no-repeat;
  border-radius: 50%;
  text-align: center;
  margin: 5px;
}

/* .button-remove:hover, */
.button-remove:active {
  background-color: rgb(247, 93, 93);
}

.button-uncompleted {
  width: 24px;
  min-width: 20px;
  max-width: 20px;
  height: 24px;
  margin: 5px;
  border-radius: 50%;
  border: 2px solid green;
  background-color: transparent;
}

.button-completed {
  background: url("./assets/img/svg/check.svg") center/cover no-repeat;
  border: 2px solid #fff;
}

.button-addNewTask {
  background-color: rgb(49, 187, 175);
  color: #fff;
}

.button-addNewTask:hover,
.button-addNewTask:active {
  background-color: rgb(37, 148, 139);
}

